<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Mosby</display-name>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/editTicketsPromoCodes</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/index</url-pattern>
        <url-pattern>/createEvent</url-pattern>
        <url-pattern>/eventPage</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/signUp</url-pattern>
        <url-pattern>/socialSignUp</url-pattern>
        <url-pattern>/registeredTable</url-pattern>
        <url-pattern>/changePassword</url-pattern>
        <url-pattern>/contactInfo</url-pattern>
        <url-pattern>/authentication</url-pattern>
        <url-pattern>/editEvent</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>EventAttributesFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.EventAttributesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EventAttributesFilter</filter-name>
        <url-pattern>/createEvent</url-pattern>
        <url-pattern>/editEvent</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>SignUpFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.SignUpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SignUpFilter</filter-name>
        <url-pattern>/signUp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LogoutFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.LogoutFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogoutFilter</filter-name>
        <url-pattern>/registeredTable</url-pattern>
        <url-pattern>/changePassword</url-pattern>
        <url-pattern>/contactInfo</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CreateEventFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.CreateEventFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CreateEventFilter</filter-name>
        <url-pattern>/createEvent</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ProfilePageFilter</filter-name>
        <filter-class>main.java.com.mosby.view.web.filters.ProfilePageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ProfilePageFilter</filter-name>
        <url-pattern>/contactInfo</url-pattern>
        <url-pattern>/changePassword</url-pattern>
    </filter-mapping>
    <security-constraint>
        <display-name>Restrict direct access to certain folders</display-name>
        <web-resource-collection>
            <web-resource-name>Restricted folders</web-resource-name>
            <url-pattern>/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint/>
    </security-constraint>
    <resource-ref>
        <description>Mosby Datasource</description>
        <res-ref-name>jdbc/onlinedb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>